/* Resetting With Universal Selector */
@import url('./theme.css');


* {
    margin: 0;
}

/* Top Bar Styling Starts */

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.sticky-top {
    position: fixed;
    margin: auto;
    width: 100%;
    top: 0;
}

.header-1 {
    width: 100%;
    padding: 13px 10px;
    background-color: orange;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

#navbar-1 {
    width: 100%;
}

#sticky-section {
    width: 100%;
    justify-content: space-between;
    background-color: rgb(122, 117, 117);
    height: 100px;
    box-shadow: 0, 10px, 15px, rgba(25, 25, 25, 0.1);
    padding-bottom: 10px;
}

.social-icon {
    margin: 10px;
    padding-left: 160px;
}

.form-control {
    margin-left: 5px;
}

.nav1-list {
    padding-left: 10px;
}

.nav1-item {
    white-space: nowrap;
}

.nav1-item a:hover {
    color: black;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.navbar-list a {
    margin: 7px;
    color: white;
    text-decoration: none;
}

.navbar-list img {
    width: 40px;
    height: 30px;
    margin: 7px;
}

.navbar-list select {
    border: none;
    background-color: orange;
    color: white;
}

.search-icon {
    height: 20px;
    width: 20px;
    margin-left: -35px;
    margin-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .header-1 {
        background-color: orange;
    }

    .form-control {
        margin: 15px;
    }

    .social-icon {
        margin: 10px;
    }

    .search-icon {
        margin: 15px;
        width: 25px;
        height: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width:1044px) {
    .social-icon {
        display: flex;
        flex-direction: row;
        margin: 3px;
    }

    .social-icon img {
        display: flex;
        margin: 3px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header-1 {
        background-color: orange;
    }
}




/* 2nd nabar styling starts */
.img-responsive {
    padding-left: 60px;
}

.header-sticky {
    box-shadow: 0 8px 8px -4px #ccc;
}

.nav-two {
    margin-left: 60px;
}

.nav2-list a {
    color: gray;
    margin: 10px;
    text-decoration: none;

}

.nav2-list a:hover {
    color: black;
    text-decoration: none;
}

.sign-in .btn {
    color: white;
    /* margin: 40px; */
    margin-right: 100px;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
}

.sign-in a {
    text-decoration: none;
}

.sign-in .btn:hover {
    color: orange;
    background-color: white;
    border: 1px solid black;
}

@media screen and (min-width: 320px) and (max-width:576px) {
    .sign-in .btn {
        margin: 30px;
        margin-left: 150px;
        padding: 8px;
    }
}

@media screen and (min-width: 576px) and (max-width:1199px) {
    .sign-in .btn {
        margin: 30px;
        padding: 8px;
    }

    /* .main-icons {
        display: flex;
    } */

    .img-responsive {
        width: 150px;
        height: 80px;
    }
}

/*  2nd navbar Styling Ends */

/* breadcrumb styling starts */

.nav-gray {
    background-color: rgba(174, 159, 159, 0.749);
    height: 30px;
    padding-left: 140px;
}

.breadcrumb-item a {
    color: black;
    padding: 10px;
}

/* breadcrumb styling ends */

/* main body styling starts */

.list-items {
    margin-top: 10px;
    line-height: 20px;
    font-size: smaller;
}

.headline-name2 {
    margin-top: 60px;
}

.card {
    border: 1px rgba(225, 217, 217, 0.853);
    width: fit-content;
    position: relative;
    width: 300px;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.card:hover {
    box-sizing: border-box;
    border: 1px white;
    box-shadow: 5px 10px 18px gray;
}

.product-hover i {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #f8881f;
    color: #f8881f;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icons:hover {
    color: white;
    background-color: orange;
}

.middle-text {
    font-weight: bold;
    color: orange;
    text-align: center;
}

.dummy-text {
    font-weight: bold;
}

.org {
    color: orange;
}

.discount-text {
    color: orange;
}

/* main body styling ends */

/* product hover style starts*/
.blur>img {
    opacity: 0.2;
}

.product-hover {
    opacity: 1;
    transform: translate(-21px, -150px);
    justify-content: space-between;
    padding: 2%;
}

.icons {
    position: absolute;
    opacity: 1;
    color: white;
    background-color: orange;
    font-size: 25px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}





/* product hover style ends */


/* Payment Method Section Starts */


.section-3 {
    display: grid;
    border: 1px solid black;
}


.payment-section {
    padding: 10px;
    margin: 10px;
}

.payment-section h2 {
    font-size: medium;
}

.payment-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-head h3 {
    font-size: 15px;
}


.para-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Payment Method Section Ends */

/* Footer Section Starts */

.lists {
    font-size: medium;
    color: grey;
    line-height: 10px;
}

.subscribe-btn {
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Move Top BUtton Styling starts */

.move-top {
    float: right;
    max-width: 50px;
    height: auto;
}

#scrollUp {
    position: sticky;
    left: 98%;
    bottom: 50px;
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;
    box-shadow: 0, 10px, 15px, rgba(25, 25, 25, 0.1);
}

/* Move Top Button Styling Ends */

/* Last Section Footer Starts */

.footer-part {
    margin: 5px;
}

.footer-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 20px;
}

.footer-heading h4 {
    margin-left: 15px;
    margin-right: 65px;
}

.last-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-payment {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.footer-payment img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.footer-connect {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.footer-connect img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

/* Last section Footer Ends */