.flex {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

/* 576 for small
768 for medium 
992 for large
1200 for xl*/



.flex li:hover {
    color: orange;
    text-decoration: none;
    text-decoration-color: orange;
    text-underline-offset: 4px;
}

.flex h2 {
    margin: 25px;
    justify-content: center;
    /* padding-left: -20px; */
}

/* .justify-content-center {
    justify-content: center;
} */

.align-items-center {
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}